/* #212121 - Колір заголовків тексту*/
/* #757575 - колір тексту*/
/* #2196F3 - синій колір в макеті (акцент)*/
/* #FFFFFF - білий колір тексту*/
/* #2F303A - background колір героя та футера */
/* #E5E5E5 - білий background колір сторінки */
/* #F5F4FA - трохи сіріший білий background колір сторінки */
/* rgba(255, 255, 255, 0.6) - колір ссилок футера */
/* Задаю колір сторінки сайту та основний колір тексту */

:root {
    --general-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #FFFFFF;
    --footer-second-text-color: rgba(255, 255, 255, 0.6);
    --bgc-button-color: #F5F4FA;
    --back-ground-color: #E5E5E5;
    --brc-herofooter: #2F303A;
    --bgc-hero-color: rgba(47, 48, 58, 0.4);
    --sotsset-color: #AFB1B8;
}
p {
    margin: 0;
}
button {
    cursor: pointer;
}
a {
    color: currentColor;
}
/* Задаю основні стилі сторінки */
body {
    color: var(--general-text-color);
    background-color: var(--second-text-color);

    font-family: Roboto, sans-serif;
    /* font-weight: 400; */
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* Задаю утілітарний клас для приховування будь-чого на сторінці */
.invisible {
    display: none;
}

/* Прибираю крапки пунктів списку */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.link {
    text-decoration: none;
}
.header{ 
    display: flex;
    border-bottom: 1px solid #ECECEC  
    
}
/* Задаю контейнер для контенту сторінок */
.container {
    margin: auto;
    padding: 0 15px;
    width: 1200px;
    /* outline: 2px solid teal;  */
}
.head-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}
/* Задаю колір передньої частини логотипу */
.logo {
    color: var(--accent-color);
}

/* задаю колір другої частини тексту лого */
.logotext {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logotext--head {
    color: var(--title-text-color);
}
.logotext--foot{
    color: var(--second-text-color);
}
.header-nav {
    display: flex;
    /* padding-top: 24px;
    padding-bottom: 25px; */
    align-items: center;
}
.site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}
/* задаю колір та шрифт ссилок в блоці навігації при наваденні та переході */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
    position: relative;
}
.site-nav__item {}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}
.nav-info.current::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    display: block;

    color: var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 2px;
    
}
.site-nav__link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav {
    display: flex;
    margin-left: auto;
}
.contact__item{
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item + .contact__item {
    margin-left: 50px;
}
.contact__link {
    display: flex;
    align-items: center;
}
.contact__item:hover{
    color: var(--accent-color);
}
.mylo-icon {
    padding: 0px;
    margin-right:10px;
    height: 12px;
    width: 16px;
    fill: currentColor;
}
.contact-tel {
    display: flex;
    align-items: center;
   
}
.tel-icon {
    
    padding: 0px;
    margin-right: 10px;
    height: 16px;
    width: 10px; 

    fill: currentColor;
}
/* Задаю колір та шрифт ссилок в блоці авторизації */
.contact-nav .link {
    color: var(--general-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* задаю колір та шрифт ссилок в блоці авторизації при наваденні та переході */
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);    
} 

/* Задаю колір та шрифт головного заголовка */
.section.hero {
    margin-left: auto;
    margin-right: auto;
    
    padding: 200px 0px 200px 0px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero {
    max-width: 1600px;
    background-color: var(--brc-herofooter);
    text-align: center;
    background-image: url(../images/imgoverlay.png), url(../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-title {
    width: 696px;
    margin: 0px auto 40px auto;    
          
    color: var(--second-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
       
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;   
   
}
/* задаю колір та шрифт заголовків секції */
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.featers {
    display: flex;
}
.featers__place{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--bgc-button-color);
    margin-bottom: 30px;
}
/* Задаю ширину лішкам списку featers */
.featers__item {
    width: 270px;
}
/* Задаю маржини лішкам списку featers крім останнього */
.featers__item:not(:last-child){
    margin-right: 30px;
}
/* задаю колір та шрифт h3 в секції featers */
.featers__title {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
/* задаю колір та шрифт основного тексту в секції featers */
.featers__decription {
    display: inline-block;    
    line-height: 1.71;
}

/* ------------Секція робіт----------------- */
 .section.works {
     padding-top: 0;
 }

 .works {}

.works-list {
    display: flex;
}
.works__item{
    position: relative;
}
.works__item:not(:last-child) {
    margin-right: 30px;
}
.works__image {
    display: block;
}
.works__title{
    position: absolute;
    bottom: 0;
    width: 100%;

    margin: 0;
    padding: 27px 82px 27px 83px;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--second-text-color);
    background: rgba(47, 48, 58, 0.8);
}
/* ------------Секція команди---------------- */
.team.section {
background-color: var(--bgc-button-color);
}
.team {
    display: flex;
}
.team__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
   
    
    text-align: center;
}
.team__item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--second-text-color);
}
.team__item + .team__item {
    margin-left: 30px;;
}
.team__decription {
    font-size: 16px;
    line-height: 1.2;    
    
    text-align: center;
}
.sots{
    display: flex;
    padding: 0;
    margin: 16px 32px 30px 32px;
    /* outline: 1px solid rebeccapurple; */
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.sots__item{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.sots__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--sotsset-color);
    color: var(--sotsset-color);
    background-color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sots__link:hover {
    color: var(--second-text-color);
    background-color: var(--accent-color);
}

.sots__icon {
    display: flex;
    width: 20px;
    height: 20px;

    fill: currentColor;

}
/*-------Розмічаємо секцію постійних клієнтів-------- */
.clients{
    display: flex;
}
.clients__item{

}
.clients__item + .clients__item{
    margin-left: 30px;
}
.clients__place {
    display: flex;
    width: 170px;
    height: 92px;
    
        
    border: 1px solid var(--sotsset-color);
    border-radius: 4px;
    color: var(--sotsset-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__place:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);

}
.clients__icon{
    fill: currentColor;
    margin: 16px 32px 16px 32px;
}

.portfolio-header {
    margin-bottom: 94px;
}
.filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-li{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-li + .filter-li {
    margin-left: 8px;
}
.filter-li:hover, .filter-li:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.example {
    display: flex;
    flex-wrap: wrap;
    
}
/* Задаю колір заголовків h3 в секції приклади */
.example-title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);

    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-li { 
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.example-li:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.example-li:hover .movie-window{
    transform: translateY(0);

}
.example-li:nth-child(3n){ 
    margin-right: 0;
}
.example-li:nth-last-child(-n+3){
    margin-bottom: 0;
}
.exemple-decription {   
    font-size: 16px;
    line-height: 1.88;
}
/*  не пушаться зміни, якась містика */
.exemple-img {
    display: block;
    
}
/* обгортаю текст під картинкою */
.example-legend {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.example-top-wrap{
    position: relative;
    overflow: hidden;
}
.movie-window{
    position: absolute;
    top:0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    
    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
      
    color: var(--second-text-color);
    background: rgba(33, 150, 243, 0.9);
}
.footer {    
    padding-top: 60px;
    padding-bottom: 60px;
   
    background-color: var(--brc-herofooter);
}
.container.footer{
    display: flex;
    align-items: baseline;
}
.footer-sots{
    margin-left: 70px;
    width: 270px;
    /* outline: 2px solid #FFFFFF; */
}
.foot-title{
    margin: 0px;

    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--second-text-color);
}
.sotsset-footer{    
    display: flex;
    margin-top: 20px;       
}

.sots-li-foot + .sots-li-foot{
    margin-left: 10px;
}
.button-foot-sots{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--second-text-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-foot-sots:hover {
    background-color: var(--accent-color);
}
/* задаю колір тексту футера */
.footer-nav .link {
    color: var(--second-text-color);    
    
    font-style: normal;
    line-height: 1.71;     
}

/* задаю колір контактів в футері */
.footer-nav .contact {
    color: var(--footer-second-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav .contact:hover,
.footer-nav .contact:focus {
    color: var(--accent-color);
}
.invitation{    
    line-height: 1.143;    
    text-transform: uppercase;
    
    color: var(--second-text-color);
}
/* .foot-form-client{}
.foot-form-wrap{} */
.foot-form{
    display: flex;
    margin-top: 20px;
    
    text-align: center;
    align-items: center;
}
/* .foot-label-email{} */
.foot-input-email{
    margin-right: 12px;
    height: 50px;
    min-width: 358px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    
}
.foot-input-email::placeholder{                  
        display: flex;
        align-items: center;
        padding: 15px 16px;
            
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6); 
}
/*--------------- Оформляємо кнопки----------- */
/* задаю колір та шрифт кнопок фільтру */
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;

    color: var(--title-text-color);
    background-color: var(--bgc-button-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;      
    text-align: center;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.button.current {
    color: var(--second-text-color);
    background-color: var(--accent-color);
}
/* задаю колір та шрифт кнопок фільтру при наведенні та фокусі */
.button:hover,
.button:focus {
    color: var(--second-text-color);
    background-color: var(--accent-color);
}
/* задаю колір та шрифт кнопці "заказать услугу" */
.button-hero {
    display: block;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    margin: 0px auto;
    /* margin-top: 30px; */

    color: var(--second-text-color);
    background-color: var(--accent-color);

   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
        
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button-foot-email{
    height: 50px;
    padding: 10px 29px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color: var(--second-text-color);
}
.button-svg-fly{
    margin-left: 10px;
    fill:var(--second-text-color)
}
/* ---------Модальне вікно---------------------------------- */
.backdrop{
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
               
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    

}
.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.8);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
   
    transform: translate(-50%, -50%) scale(1);    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    min-width: 528px;
    min-height: 581px;
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
      
}

.modal-button{
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    
}
.modal-button:hover .close-icon, .modal-button:focus .close-icon {
    fill: var(--accent-color);
}
.close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title{
    display: block;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;    
    
    color: var(--title-text-color);
}
.modal-form-in{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}
/* .modal-form-comm{ 
    display: flex;
    flex-direction: column;
   
}*/
.modal-label{    
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.167;    
    letter-spacing: 0.01em;    
    color:var(--general-text-color);
}
.modal-input{
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);    
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.div-svg-input{
    position: relative;
}
.modal-input:hover, .modal-textarea:hover {
    border-color: var(--accent-color);
}
.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--accent-color);
}
.modal-input:active, .modal-textarea:active {
    border-color: var(--accent-color);
}
.label-checkbox{ 
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.71;
    margin-left: 9px;
    
    color:var(--general-text-color);
}
.doc{
    color: var(--accent-color);
}
.modal-input:hover + .input-icon{
    fill:var(--accent-color);
}
.modal-input:focus +.input-icon {
    fill: var(--accent-color);
}
.modal-input:active +.input-icon {
    fill: var(--accent-color);
}
.input-icon{
    position: absolute;   
    left: 15px;
    bottom: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea{
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}
.modal-checkbox{
    display: flex;
    margin: 20px 51px 30px 52px;
    display: flex;
    align-items: center;
}
/* .input-checkbox{} */
.input-checkbox:checked + .label-checkbox .checkbox-place{
    background-color:var(--accent-color); 
    border: none;
    
}
.input-checkbox:checked+.label-checkbox .checkbox-icon{
    fill: var(--second-text-color);
}
.checkbox-place{
    position: absolute;
    left: -25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon{
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-checkbox .checkbox-place {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    
    background-color: var(--second-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-form-button{
    width: 200px;
    height: 50px;
    border: none;
    margin-right: auto;
    margin-left: auto;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;        
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px 10px 56px;
    
    color: var(--second-text-color);
    
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}