/* ------------Секція робіт----------------- */
.section.works {
    padding-top: 0;
}

.works {}

.works-list {
    display: flex;
}

.works__item {
    position: relative;
}

.works__item:not(:last-child) {
    margin-right: 30px;
}

.works__image {
    display: block;
}

.works__title {
    position: absolute;
    bottom: 0;
    width: 100%;

    margin: 0;
    padding: 27px 82px 27px 83px;

    font-size: var(--main-font);
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;

    color: var(--second-text-color);
    background: rgba(47, 48, 58, 0.8);
}